.hero {
  height: 85vh;
  padding-top: 30px;
}

.book-list {
  background-color: azure;
  text-align: center;
  padding: 30px 0;
}

button[name=new],
button[name=old] {
  padding: 8px 22px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

button[name=new] {
  margin-right: 5px;
}

button[name=old] {
  margin-left: 5px;
}

button[name=new]:hover,
button[name=old]:hover {
  transform: scale(1.1);
  border: 2px solid#ec5200;
  color: #ec5200;
}

#bible-sections {
  padding: 50px 0;
}

.favorites-pitch {
 text-align: center;
 padding: 20px 0;
}